<!------------------------------------------------------------------------
NOME..: index.ejs
LANG..: html
TITULO: Página princial do site
DATA..: 17/02/2024
-------------------------------------------------------------------------
Copyright (c) 2024 - CTConnect+ - Thomas Campos
-------------------------------------------------------------------------
Modifications.....:
Date          Rev    Author            Description
17/02/2024    0      Thomas Campos     Elaboração
18/02/2024    1      Thomas Campos     Adicionado Include Head e Footer
------------------------------------------------------------------------>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>CT Connet+</title>
</head>
<body id="boydMain">
    <%- include('./partials/header') %>
    <main>
        <section id="quem-somos">
            <div>
                <h1 id="princial-titilo">Quem Somos?</h1><br><br>
                <p>Bem-vindo à CT Connect+, a potência digital que transforma sonhos em realidade. Somos mais do que uma
                    agência; somos contadores de histórias, criadores de experiências e impulsionadores de marcas.</p>
                <p>Nossa paixão reside em criar conexões autênticas entre marcas e seu público. Na CT Connect+, acreditamos
                    que sua presença online não deve ser apenas uma necessidade, mas uma oportunidade para destacar o que
                    faz sua marca única. <br> Estamos comprometidos em trazer sua marca para o centro do palco digital, destacando seus valores, missão
                    e personalidade. Com uma equipe dedicada, transformamos ideias em estratégias inovadoras e resultados
                    tangíveis.</p>
                <p>Seja qual for o seu objetivo digital, estamos aqui para construir junto com você. Junte-se a nós e
                    descubra o poder de uma presença online verdadeiramente impactante.</p>
            </div><br><br>
            <div class="acao">
                <a href=""><img src="/img/acao-session1.jpg" alt="acao-session1"></a>
            </div>
        </section>

        <section>
            <img src="/img/imagemPrincipal.jpg" alt="imagemPrincipal">
        </section>

    </main>

    <%- include('./partials/footer') %>

</body>

</html>