<!-------------------------------------------------------------------------
NOME..: isms.ejs
LANG..: ejs
TITULO: Módulo do programa responsavel pela página sms
DATA..: 17/02/2024
-------------------------------------------------------------------------
Copyright (c) 2024 - CTConnect+ - Thomas Campos
-------------------------------------------------------------------------
Modifications.....:
Date          Rev    Author            Description
17/02/2024    0      Thomas Campos     Elaboração
19/02/2024    1      Thomas Campos     Adicionado Includ head, header e
                                       Fotter
16/03/2024    2      Thomas Campos     Alterado nome da página e seguimento para
                                       disparo de sms.
--------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body id="bodyIdVisual">
    
    <%- include('./partials/header') %>
    
    <main>
        <section id="gestao">
            <h1 id="princial-titilo"> <!-- Criação de --> <span style="color: rgb(255, 132, 0);">Serviço em Criação.</span></h1>
            <!-- <div class="principalCards">
                <div class="cards 1">
                    <img src="" alt="">
                    <h2>START</h2>
                    <hr>
                    <p><strong>O plano inclui:</strong><br><br>
                    <strong>Criação de logotipo</strong><br>
                    Logo entregue com o MIV em todos os formatos <br><br>
                    <strong>1000 un cartões de visita</strong><br>
                    Impressão frente em papel couchê com verniz <br><br>
                    <strong>1000 un panfletos 10x14cm</strong><br><br>
                    Impressão frente em papel couchê <br><br>
                    <strong>1 post completo redes sociais</strong><br>
                </p>
                </div>
                <div class="cards">
                    <img src="" alt="">
                    <h2>EMPREENDEDOR</h2>
                    <hr>
                    <p><strong>O plano inclui:</strong><br><br>
                    <strong>criação de logotipo</strong>
                    Logo entregue com o MIV em todos os formatos <br><br>
                    <strong>1000 cartões de visita</strong> <br>
                    Impressão frente e verso em <br>
                    papel couchê com verniz <br><br>
                    <strong>2500 un panfletos 10x14cm</strong><br>
                    Impressão frente e verso em papel couchê <br><br>
                    <strong>3 posts completo redes sociais</strong><br>
                    Posts completo (Feed, Story, Copy) <br><br>
                    <strong>Capa | Perfil | Destaque</strong><br>
                    Facebook e Instagram <br><br>
                    <strong>1 cartão digital interativo</strong><br>
                    Cartão digital com botões interativos <br><br>
                    <strong>1 página mini site</strong><br>
                    Landing page de apresentação de sua empresa</p>
                </div>
                <div class="cards 2">
                    <img src="" alt="">
                    <h2>EMPRESARIAL</h2>
                    <hr>
                    <p><strong>O plano inclui:</strong><br><br>
                        <strong>Criação de logotipo</strong><br>
                        Logo entregue com o MIV em todos os formatos <br><br>
                        <strong>1000 cartões de visita</strong> <br>
                        Impressão frente e verso em <br>
                        papel couchê com verniz <br><br>
                        <strong>5000 un panfletos 10x14cm</strong><br>
                        Impressão frente e verso em papel couchê <br><br>
                        <strong>5 posts completos redes sociais</strong><br>
                        Posts completo (Feed + Story + Copy) <br><br>
                        <strong>Capa | Perfil | Destaque</strong><br>
                        Facebook e Instagram <br><br>
                        <strong>1 cartão interativo</strong><br>
                        Cartão digital com botões interativos <br><br>
                        <strong>Site Institucional</strong><br>
                        Criação de site, com domínio e hospedagem.</p>
                    </div>
                </div><hr> -->
            </section>
        </main>
        
        <%- include('./partials/footer') %>
        
    </body>
    
</html>
