<!-------------------------------------------------------------------------
NOME..: socialMidia.ejs
LANG..: ejs
TITULO: Módulo do programa responsavel pela página Social Mídia
DATA..: 18/02/2024
-------------------------------------------------------------------------
Copyright (c) 2024 - CTConnect+ - Thomas Campos
-------------------------------------------------------------------------
Modifications.....:
Date          Rev    Author            Description
18/02/2024    0      Thomas Campos     Elaboração
19/02/2024    1      Thomas Campos     Adicionado partials head e header
--------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main>
        <section id="gestao">
            <h1 id="princial-titilo">Gestão de <span style="color: rgb(255, 132, 0);">Mídias Sociais</span></h1>
            <div class="principalCards">
                <div class="cards 1">
                    <img src="" alt="">
                    <h2>BÁSICO</h2>
                    <hr>
                    <p><strong>08 posts por mês</strong><br>
                        (Com a criação das <br> artes e conteúdo) <br><br><strong>(1 Carrossel incluso)<br><br><strong>4
                                Storys para Instagram</strong><br> (Publicação convertida <br> para story) <br><br>
                        <strong>Criação de legenda</strong></strong></p>
                </div>
                <div class="cards">
                    <img src="" alt="">
                    <h2>PREMIUM</h2>
                    <hr>
                    <p> <strong>12 posts por mês</strong><br> 
                        (3 Carrosséis incluso) <br><br> 
                        <strong>6 Storys para Instagram</strong> <br> 
                        (Publicação convertida para story) <br><br> 
                        <strong>Capa personalizada para destaques no perfil doInstagram</strong> <br><br> 
                        <strong>Cronograma de conteúdo <br><br> Planejamento estratégico <br> <br>Criação de legenda <br> <br>Gerenciamento de rede social</strong>
                        (Agendamento e publicação)</p>
                </div>
                <div class="cards 2">
                    <img src="" alt="">
                    <h2>MASTER</h2>
                    <hr>
                    <p> <strong>12 posts por mês</strong> <br>
                        (3 Carrosséis incluso) <br><br>
                        <strong>6 Storys para Instagram</strong><br>
                        (Publicação convertida para story) <br><br>
                        <strong>Capa personalizada para destaques no perfil do Instagram</strong> <br> <br>
                        <strong>Cronograma de conteúdo</strong> <br> <br>
                        <strong>Planejamento estratégico</strong> <br> <br>
                        <strong>Criação de legenda</strong> <br> <br>
                        <strong>Gerenciamento de rede social</strong> <br>
                        (Agendamento e publicação)</p>
                </div>
            </div><hr>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>
