<footer>
    <div class="footer-esquerda">
        <div class="logo">
            <img src="/img/logo-footer.jpg" alt="Logo">
        </div>
        <div class="social-icons">
            <img src="/img/facebook-icon.jpg" alt="Facebook">
            <img src="/img/instagram-icon.jpg" alt="Instagram">
            <img src="/img/be.jpg" alt="be">
            <img src="/img/linkdin-icon.jpg" alt="Linkdin">

        </div>
    </div>
    <div class="footer-direita">
        <div class="footer-links">
            <a href="/home">Início</a>
            <a href="#">Site</a>
            <a href="/socialMidia">Discadora Asterisk</a>
            <a href="/identidadeVisual">Disparo de SMS</a>
            <a href="/contato">Contato</a>
        </div>
    </div>
</footer>