<header>
    <div class="log">
        <img src="/img/logoPrincipal.jpg" alt="logo">
    </div>
    <nav>
        <ul>
            <li><a href="/home">Início</a></li>
            <li><a href="#">Sites</a></li>
            <li><a href="/socialMidia">Discadora Asterisk</a></li>
            <li><a href="/identidadeVisual">Disparo de SMS</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>
</header>